@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background: #1f1c2c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #928dab 1px, #1f1c2c); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #928dab 1%, #1f1c2c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
  font-family: "Noto Sans Display", sans-serif;
  color: #d9d1ff;
  margin: 5%;
}

h1 {
  font-size: 1.5em;
  font-weight: 400;
}

hr {
  width: 80%;
  color: #928dab;
  opacity: 40%;
  margin-top: 20px;
  margin-left: 0;
}

button {
  border-radius: 10px;
  color: #928dab;
  border: 1px solid #928dab;
  background-color: #1f1c2c;
  padding: 4px 8px;
}

button:hover {
  background-color: #928dab;
  color: #1f1c2c;
}

button:active {
  transform: scale(1.1);
}

.MainFeed {
  width: 50%;
  margin: 0 auto;
}

.SinglePost {
  margin: 50px 0;
  border: 1px solid #928dab;
  border-radius: 10px;
  padding: 15px;
  background: #1f1c2c;
  opacity: 70%;
  text-align: left;
}

.ReplyBox {
  margin-left: 100px;
  font-size: 0.9em;
}
